<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <link rel="stylesheet" href="/xbrother-proxy/layui/css/layui.css">
    <style type="text/css">
        .main-content {
            padding: 15px;
        }
    </style>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">共济科技 - 远程维护中心</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item login_username"><a href="javascript:;" class="">xxx</a></li>
            <li class="layui-nav-item"><a href="javascript:;" class="logout"></a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll"></div>
    </div>

    <div class="layui-body"></div>

    <div class="layui-footer"></div>
</div>
<script src="/xbrother-proxy/layui/layui.js"></script>
<!--<script src="/xbrother-proxy/layui/layui.all.js"></script>-->
<script src="/jquery/jquery-3.1.1.min.js"></script>
<script src="/jquery/jquery.i18n.properties.min.js" type="text/javascript"></script>
<script src="/template/template.js"></script>
<script>
    
    Array.prototype.distinct = function () {
        var arr = this,
            result = [],
            i,
            j,
            len = arr.length;
        for (i = 0; i < len; i++) {
            for (j = i + 1; j < len; j++) {
                if (arr[i] === arr[j]) {
                    j = ++i;
                }
            }
            result.push(arr[i]);
        }
        return result;
    };

    Array.prototype.indexOf = function(val) {
        for (var i = 0; i < this.length; i++) {
            if (this[i] == val) return i;
        }
        return -1;
    };
    Array.prototype.remove = function(val) {
        var index = this.indexOf(val);
        if (index > -1) {
            this.splice(index, 1);
        }
    };

    window.clientList = [];// 存储所有的客户端
    window.userList = []; // 存储所有的用户信息
    window.tags = []; // 存储所有的标签信息
    function api_invoke(uri, params, callback) {
        var index = layer.load(1, {
            shade: [0.1, '#fff']
        });
        $.ajax({
            url: uri,
            data: JSON.stringify(params),
            type: 'POST',
            cache: false,
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                layer.close(index);
                callback(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                layer.close(index);
                if ("undefined" == typeof (XMLHttpRequest.responseJSON)) {
                    layer.alert("System error, please try again later.");
                    return;
                }

                if (40100 == XMLHttpRequest.responseJSON.code) {
                    location.href = "/";
                } else {
                    layer.alert(XMLHttpRequest.responseJSON.message);
                    api_invoke("/config/detail", {}, function (data) {
                        clientList = data.data;
                    });
                }
            }
        });
    }

    function load_page(pageUrl) {
        $(".layui-body").load(pageUrl);
    }

    function check_lan(ip) {
        var re = /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5]):([0-9]|[1-9]\d{1,3}|[1-5]\d{4}|6[0-5]{2}[0-3][0-5])$/
        return re.test(ip);
    }

    function check_port(port) {
        if (port > 65535) {
            return false;
        }
        var re = /^[1-9]+[0-9]*]*$/
        return re.test(port);
    }

    $(function () {
        if (window.history && window.history.pushState) {
            $(window).on('popstate', function () {
                window.history.pushState('forward', null, '#');
                window.history.forward(1);
            });
        }
        if ('pushState' in history) {
            window.history.pushState('forward', null, '#');
            window.history.forward(1);
        } else {
            History.pushState('forward', null, '?state=2');
            window.history.forward(1);
        }
        window.onhashchange = function () {
            History.pushState('forward', null, '?state=1');
        }

        window.loginUsername = "";
        window.loginUserStatus = 0;
        // 将用户名称展示到页面上
        update_username();

        $(".logout").click(function () {
            logoutParams = {
                username:window.loginUsername
            }
            api_invoke("/logout", logoutParams, function (data) {
                location.href = "/";
            })
        });
    });

    function update_menu() {
        api_invoke("/config/detail", {}, function (data) {
            if (data.code == 20000) {
                clientList = data.data;

                // TODO 根据接口动态生成 tag 的菜单 并绑定 click 事件
                console.log("客户端信息:", clientList);
                var clientLength = clientList.length;
                for (var i = 0; i < clientLength; i++){
                    var t = clientList[i].tag;
                    if (t === undefined || t === "" || t === null){
                        t = "";
                    }
                    window.tags.push(t);
                }
                window.tags = window.tags.distinct();
                console.log("所有的 tags 去重后:", window.tags);

                var html = template($("#menu-tpl").html(), {
                    list: clientList,
                    tags:window.tags
                });
                $(".layui-side-scroll").html(html);

                layui.use('element', function () {
                    var element = layui.element;
                });

                $(".client-list-manage").html($.i18n.prop('menu.client.manage'));
                $(".client-list").html($.i18n.prop('menu.client.list'));
                $(".client-group").html($.i18n.prop('menu.client.group'));
                $(".client-add").html($.i18n.prop('menu.client.add'));

                $(".client-config").html($.i18n.prop('menu.client.config'));

                $(".statistics").html($.i18n.prop('menu.client.statistics'));

                $(".user-list").html($.i18n.prop('menu.user.list'));
                $(".user-list-sub").html($.i18n.prop('menu.user.list'));
                $(".user-add").html($.i18n.prop('menu.user.add'));


                $(".menu-item").click(function () {
                    window.clientIndex = $(this).attr("data-index");
                    load_page("html/lan/list.html");
                });

                // menu-item-tag
                $(".menu-item-tag").click(function () {
                    window.tagIndex = $(this).attr("data-index");
                    console.log("当前tag索引:", window.tagIndex);
                    load_page("html/client/tag.html");
                });



            } else {
                alert(data.message);
            }
        });
    }


    var i18nLanguage = "en";
    var webLanguage = ['zh-CN', 'en'];

    function initWebLanguage() {
        var navLanguage = navigator.language;
        if (navLanguage) {
            var charSize = $.inArray(navLanguage, webLanguage);
            if (charSize > -1) {
                i18nLanguage = navLanguage;
            }
        }
    }

    initWebLanguage();

    function update_username(){
        var url = location.search;
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            var strs = str.split("&");
            if (strs.length > 0){
                var arr = strs[0].split("=");
                if (arr.length >=2){
                    window.loginUsername = arr[1];
                    $(".login_username").html(window.loginUsername);
                }
                // 分割出账户状态
                if (strs.length > 1){
                    var arr2 = strs[1].split("=");
                    if (arr.length >=2){
                        window.loginUserStatus = arr2[1]
                    }
                }
            }
        }
    }


    jQuery.i18n.properties({
        name: 'lang', //资源文件名称
        path: '/i18n/', //资源文件路径
        mode: 'map', //用Map的方式使用资源文件中的值
        language: i18nLanguage,
        encoding: 'UTF-8',
        callback: function () {//加载成功后设置显示内容
            $('title').html($.i18n.prop('title'));
            $(".layui-footer").html($.i18n.prop('title'));
            $(".logout").html($.i18n.prop('logout'));
            layui.use('layer', function () {
                window.layer = layui.layer;
                update_menu();
                load_page("html/client/list.html");
            });
        }
    });



</script>
<script id="menu-tpl" type="text/html">
    <ul class="layui-nav layui-nav-tree">

        <li class="layui-nav-item layui-nav-itemed"><a class="client-list-manage" href="javascript:;"></a>
            <dl class="layui-nav-child">
                <dd class="layui-this">
                    <a href="javascript:load_page('html/client/list.html');" class="client-list"></a>
                </dd>

                <!--<dd data-name="grid">-->
                    <!--<a href="javascript:;">栅格<span class="layui-nav-more"></span></a>-->
                    <!--<dl class="layui-nav-child">-->
                        <!--<dd data-name="list">-->
                            <!--<a lay-href="component/grid/list.html">等比例列表排列</a>-->
                        <!--</dd>-->
                        <!--<dd data-name="mobile">-->
                            <!--<a lay-href="component/grid/mobile.html">按移动端排列</a>-->
                        <!--</dd>-->
                    <!--</dl>-->
                <!--</dd>-->

                <dd>
                    <a href="javascript:load_page('html/client/add.html');" class="client-add"></a>
                </dd>

                <dd data-name="grid">
                    <a href="javascript:;" class="client-group"><span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">

                        <%for(var i = 0; i < tags.length; i++) {%>
                        <dd>

                            <% if(tags[i] === ""){ %>
                            <a href="javascript:;" class="menu-item-tag" data-index="<%:=i%>">未分组</a>
                            <% } else { %>
                            <a href="javascript:;" class="menu-item-tag" data-index="<%:=i%>"><%:=tags[i]%></a>
                            <% }%>

                        </dd>
                        <%}%>


                    </dl>
                </dd>


            </dl>
        </li>


        <li class="layui-nav-item">
            <a class="client-config" href="javascript:;"></a>
            <dl class="layui-nav-child">
                <%for(var i = 0; i < list.length; i++) {%>
                <dd>
                    <a href="javascript:;" class="menu-item" data-index="<%:=i%>"><%:=list[i].name%></a>
                </dd>
                <%}%>
            </dl>
        </li>


        <li class="layui-nav-item"><a class="user-list" href="javascript:;"></a>
            <dl class="layui-nav-child">
                <dd>
                    <a href="javascript:load_page('html/user/list.html');" class="user-list-sub"></a>
                </dd>
                <dd>
                    <a href="javascript:load_page('html/user/add.html');" class="user-add"></a>
                </dd>

            </dl>
        </li>


        <li class="layui-nav-item layui-nav-itemed">
            <a class="statistics" href="javascript:load_page('html/statistics/list.html');"></a>
        </li>


    </ul>
</script>

</body>
</html>